.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.NOTE{
    font-size: 15px;
    color: black;

}
body{
    background-size: cover;
}
.div_speed{
    float: left;
}
.div_sound{
    float: right;
}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
.div_sound_img{
    width: 200px;
    border-radius: 100px;
}

#speed{
    font-size: 23px;
margin: 15px;
}
#sound{
    font-size: 23px;
margin: 15px;
}
